<div>
    <ul class="presentation-list" ng-if="presentations.length">
        <li ng-repeat="presentation in presentations" class="presentation-list-el">
            <a ng-href="#/player/{{presentation.id}}">
                <div class="presentation-title">
                    {{presentation.title}}
                </div>
                <div class="presentation-hour">
                    {{presentation.startTime | date:'HH:mm:ss yyyy-MM-dd '}}
                </div>


            </a>
        </li>
    </ul>
</div>