
<alert class="form-error" ng-repeat="alert in alerts" type="{{alert.type}}" dismissOnTimeout="5" close="closeAlert($index)" >{{alert.message}}</alert>
<div class="form-horizontal form-group" style="width: 40%; padding-left: 10px;">
<form  style="margin: 10px">
    <div class="form-group ">
        <label for="movieUrl">Url filmu</label>
        <input id="movieUrl" class="form-control" ng-model="presentation.url" required="required"><br>
    </div>
    <div class="form-group">
        <label for="title">Tytuł prezentacji</label>
        <input id="title" class="form-control" ng-model="presentation.title" required="required">
    </div>
    <div class="form-group">
        <label for="claps">Wybierz klaps startowy</label>
        <select id="claps" class="form-control" data-ng-model="clapper" ng-required="true" required="required" ng-options="event.timestamp|date:'yyyy-MM-dd HH:mm:ss' for event in events"></select>
    </div>
    <button ng-click="save()">Zapisz</button>

</form>
<div id="video" style="height:360; width: 480px;"></div>
</div>