<div ng-controller="VoteCtrl" id="vote">
    <div class="form-group">
        <button class="btn like" ng-click="like()"><i class="fa fa-thumbs-o-up" style="font-size: 10em"></i></button>
        <button ng-click="dislike()" class="btn dislike"><i class="fa fa-thumbs-o-down" style="font-size: 10em"></i></button>
    </div>

    <label for="comment">Skomentuj:</label>
    <div class="form-group">
        <textarea id="comment" data-ng-model="comment" class="form-control"></textarea><br>
        <button ng-click="comments()" class="btn btn-primary">OK</button>

    </div>

    <alert class="form-error" ng-repeat="alert in alerts" type="{{alert.type}}" dismissOnTimeout="5" close="closeAlert($index)" >{{alert.message}}</alert>

</div>