/* app css stylesheet */
html,body{height:100%}
#vote{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

button.btn.dislike{
    background: #cf293f none no-repeat;
    filter: none;
}

button.btn.like{
    background: #003cb3 none no-repeat;
    filter: none;

}

button.btn.btn-primary{
    background: #13c2b3 none no-repeat;

    width: 30%;
    height: 5em;
    filter: none;
}

div.red {
  background-color: orangered;
}

div.green {
  background-color: green;
}

.form-control {
    border-radius: 6px;
}